:root {
  --BorderGrey: #787884;
  --BorderCard: #000000;
  --BackgroundItems: #cfcfcf;
  --BackgroundCard: #f6f6f6;
  --BackgroundDark: #2f2f37;
  --TextGrey: #8a8a8a;
  --TextLight: #ffffff;
  --ColorRed: #ce1010;
  --ColorGreen: #3d8506;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid var(--BorderCard);
  text-align: center;
  padding: 10px;
}
